<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--css-->
  <link href="static\style.css" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Dr.Jalaaldeen School</title>
</head>

  <body>
    <header>
      <!--Nave Bar-->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img id="logo" src="static\img\logo.png" width="80px" alt="logo">
          </a>
          <button class="navbar-toggler navbar navbar-dark navbar-light-color" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Announcements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Documents</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
      <!--Nave Bar End-->
    </header>

    <!--Carousel start-->
    <section class="hero" id="hero">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-background">
              <img src="/static/img/img1.jpg" alt="">
              <div class="carousel-container">
                <div class="carousel-content-container">
                  <h2>Dr.Jalaaldeen Vidyalaya<br> Addalaichenai</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eius animi aut dolor, voluptatibus natus
                    esse. Vel nobis, illum commodi eligendi enim necessitatibus ipsam voluptatem, hic sequi officiis
                    nostrum modi
                  </p>
                  <div class="buttons">
                    <a href="" class="button1">Our Services</a>
                    <a href="" class="button1">contect Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-background">
              <img src="/static/img/img2.png" alt="">
              <div class="carousel-container">
                <div class="carousel-content-container">
                  <h2>Self Preform Expertise</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elitipsam voluptatem, hic sequi officiis
                    nostrum modi</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!--Carousel End-->

    <!--Feature Info start-->
    <section class="feature mt-5 mb-5">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="main-feature-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
              </div>
              <h3>Prefessional Teachers</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum minima numquam repudiandae nihil!
                Tempora.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="main-feature-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
              </div>
              <h3>Prefessional Teachers</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum minima numquam repudiandae nihil!
                Tempora.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="main-feature-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
              </div>
              <h3>Prefessional Teachers</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum minima numquam repudiandae nihil!
                Tempora.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="main-feature-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
              </div>
              <h3>Prefessional Teachers</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum minima numquam repudiandae nihil!
                Tempora.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Feature Info End-->

    <!--About start-->

    <!--About end-->

    <!--Bootstap Js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </body>

</html>